
#ab{
    position: absolute;
    
    top: 220px;
    
    
    
    border-left: 150px solid transparent;
    border-bottom: 300px solid green;
    border-right: 150px solid transparent;
}
#cd{
    position: absolute;
    
    top: 150px;
    
    
    
    border-left: 150px solid transparent;
    border-bottom: 300px solid white;
    border-right: 150px solid transparent;
}
#ef{
    position: relative;
    
    top: 70px;
    width: 0px;
    height: 0px;
    
    
    border-left: 150px solid transparent;
    border-bottom: 300px solid orangered;
    border-right: 150px solid transparent;
}
body{
    background-color: grey;
}